@using InstituteManagement.Models.ViewModels;

@{
    ViewBag.Title = "Create Roles";
}

@model CreateRoleViewModel
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>Create New Role</h5>
                </div>
                <div class="card-body">
                    <form method="post" >
                        <div class="row g-3 mt-3">
                            <div class="col-md-6">
                                <label asp-for="RoleName" class="form-label">Role Name</label>
                                <input asp-for="RoleName" class="form-control" id="validationDefault01" type="text" placeholder="Role Name" required="">
                                <span asp-validation-for="RoleName" style="color:red"></span>

                            </div>
                        </div>
                        <div class="mb-3">

                        </div>
                        <button class="btn btn-primary" type="submit">Create Role</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Container-fluid Ends-->